/*
  WeatherStationConfig.h
  Created by Florent Colinet, August 2, 2017.
*/
#ifndef WeatherStationConfig_h

  #define WeatherStationConfig_h
  
  /*
   * Weather station settings
   */

  const char* WEATHER_STATION_NAME = "My weather station";

  /* ================================================================================ */

  /*
  * Voltage settings
  */

  const int VOLTAGE_PIN = 0; /* A0 */
  const float VOLTAGE_MULTIPLIER = 0.004325; /* for 100k */

  /* ================================================================================ */

  /*
  * BME280 settings
  */

  const bool BME280_ENABLED = false;
  const int BME280_SDA = 4; /* D2 */
  const int BME280_SCL = 5; /* D1 */
  const float BME280_SEA_LEVEL_PRESSURE = 1013.25;

  /* ================================================================================ */

  /*
  * Anemometer settings
  */

  const bool ANEMOMETER_ENABLED = false;
  const int  ANEMOMETER_PIN = 16; /* D0 */

  /* ================================================================================ */

  /*
  * Wheatercock settings
  */

  const bool WEATHERCOCK_ENABLED = false;
  const int  WEATHERCOCK_PIN_1 = 2; /* D4 */
  const int  WEATHERCOCK_PIN_2 = 14; /* D5 */
  const int  WEATHERCOCK_PIN_3 = 12; /* D6 */
  const int  WEATHERCOCK_PIN_4 = 13; /* D7 */
  const int  WEATHERCOCK_PIN_5 = 15; /* D8 */

  /* ================================================================================ */

  /*
  * Rain gauge settings
  */

  const bool RAIN_GAUGE_ENABLED = false;
  const int  RAIN_GAUGE_PIN = 0; /* D3 */

#endif

